{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WMS Provesi{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <nav class="navbar navbar-light bg-light">
        <a class="ms-4 navbar-brand" href="/">
          <img src="{% static 'media/logo-uniandes.png' %}" width="45" height="45" alt="" />
        </a>
      </nav>

      <nav class="navbar navbar-light bg-light">
        <a class="me-4 navbar-brand" href="/"> WMS Provesi </a>
      </nav>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pedidosList' %}">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bodegasList' %}">Bodegas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productosList' %}">Productos</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="m-4">
      <div class="container p-4">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    </main>
  </body>

  <!-- Footer -->
  <footer>
    <div style="padding: 30px">
      <div style="float: left; width: 400px">
        ISIS-2503 Arquitectura y Diseño de Software
      </div>
      <div style="float: right; width: 220px">Universidad de los Andes</div>
      <br />
      <div style="float: left; width: 400px">
        <i>SCRUM Team</i>
      </div>
    </div>
  </footer>
  <!-- Footer -->
</html>
